.front{
	position: absolute;
	backface-visibility: hidden;
	transition: 1s;
}
	
	
.back {
	position: static;
	transform: rotateY(-180deg);
	backface-visibility: hidden;
	transition: 1s;
}

.portfolio-item {
	perspective: 800px;
	transform-style: preserve-3d;
}

.portfolio-item:hover .front {
	/*opacity: 0;*/
	transform: rotateY(180deg);
}

.portfolio-item:hover .back {
	/*opacity: 1;*/
	transform: rotateY(0deg);
}







 
/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
